Options -Indexes 
ErrorDocument 404 /404.php

#order deny,allow
#Order deny,allow
#deny from all
deny from all
allow from 176.59.132.46


<IfModule mod_php5.c>
	php_flag allow_call_time_pass_reference 1
	php_flag session.use_trans_sid off
    php_flag display_errors off;

	


    # [see footnote 3] # 
	log_errors_max_len integer
	php_value error_reporting 0
	php_value display_errors 0
	#php_value display_startup_errors 1
	

    
	#php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
    	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
    	RewriteRule ^(.*)\-old/(.*)$ $1/$2 [NC,R=301,L] 
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_FILENAME} !-l
	#RewriteCond %{REQUEST_FILENAME} !-d

	
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
</IfModule>